* {
    margin: auto;
    padding: 0%;
}


.titulos h2 {
    font-size: 90px;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.titulos p {
    font-size: 40px;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.navbar-nav a {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.ver-carrito{
    font-size: 22px;
    margin-top: 5px;
    margin-right: 20px;
    cursor: pointer;
}

/* Hero image */

body {
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}

.hero-content {
    position: relative;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}

.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}


/* footer formulario y mapa */


.formYmapa {
    display: flex;
    justify-content: space-around;
    padding: 3px;
    margin-top: 10px;
}

button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    margin-top: 2px;
}

button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* Footer redes videos y contacto */
.redes {
    display: flex;
    justify-content: space-between;
    background-color: rgba(245, 241, 242, 0.995);
}

.redes img {
    width: 75px;
    height: 75px;
}

.videos {
    width: 200px;
    height: 200px;
}

.redes p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: inherit;
    font-size: 20px;
}

/* TIENDA CARDS */
.shop-content {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 30px;
margin-left: 80px;
margin-right: 80px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: serif;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

/* modal container */
.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: grey;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
position: fixed;
overflow: auto;
z-index: 9;
top: 12vh;
scrollbar-color: none;
}
.modal-container ::-webkit-scrollbar {
    display: none;
}

.modal-header {
display: flex;
justify-content: space-around;
background-color: #0a0909;
color: #fff;
width: 100%;
}

.modal-header-title {
    justify-self: start;
}
.modal-header-button {
    cursor:pointer;
}

.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.delete-product {
    cursor:pointer;
}